.article-one { grid-area: articleOne; }
.article-two { grid-area: articleTwo; }
.article-three { grid-area: articleThree; }
/*base grid layout for small screen sizes*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'articleOne'
        'articleTwo'
        'articleThree';
}
/*medium screens */
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            'articleOne articleTwo'
            'articleOne articleThree';
    }
}
/*large screens*/
@media (min-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            'articleOne articleTwo articleThree';
    }
}
/*default font and size*/
html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
/*body*/
body {
    margin: 0;
}
/*navbar*/
nav.primary {
    width: 100%;
    background-color: lightblue;
    font-size: 1.5rem;
}
.navElements {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0;
}
.navElements li {
    display: block;
    list-style-type: none;
    padding: 8px 10px;
}
.navElements a {
    color: #000000;
    text-decoration: none;
}
.navElements a:hover {
    border: solid 2px #000000;
    border-radius: 5px;
}